layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: 为IoT嵌入式设备设计的小型可伸缩开源RTOS
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 丰富的协议栈 
      p.intro-feature-desc 专为资源受限设备而优化的协议栈。支持或即将支持Bluetooth、BLE、Wi-Fi、802.15.4以及其它标准，例如6LoWPAN、CoAP、IPv4、IPv6和NFC等。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title 开源
      p.intro-feature-desc 由Linux基金会发起，采用Apache 2开源许可证，开发者异常活跃。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title 模块化
      p.intro-feature-desc 高度可配置。提供图像配置界面，用户可以根据自己需要进行裁剪。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 安全
      p.intro-feature-desc 安全的开发生命周期，包括：安全验证、模糊和渗透测试、静态代码分析、频繁的代码审查，以杜绝代码中的后门。
